@tailwind base;
@tailwind components;
@tailwind utilities;

/* font of a navbar   */

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.navHeadingFont {
  font-family: "Inter", sans-serif;
}

/* navbar animation  */

.nav-link::before {
  content: "";
  background-color: #34a853;
  width: 70%;
  height:0.10rem;
  position: absolute;
  left: 1.3rem;
  bottom: 1rem;
  transform: scaleX(0);
  border-radius: 10rem;
  transform-origin: bottom right;
  transition: transform 450ms;
}
.nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
