@tailwind base;
@tailwind components;
@tailwind utilities;

/* font of a navbar   */

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.HeadingFont {
  font-family: "Inter", sans-serif;
}

/* font color heading */
.headColor {
  color: #173c35;
}
.paraColor {
  color: #5c6475;
}

/* navbar animation  */

.nav-link::before {
  content: "";
  background-color: #34a853;
  width: 100%;
  height: 0.1rem;
  position: absolute;
  left: 0rem;
  bottom: 0rem;
  transform: scaleX(0);
  border-radius: 10rem;
  transform-origin: bottom edges;
  transition: transform 450ms;
}
.nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.earthAnimation::before {
  content: "";
  border: 4px solid;
  border-color: #34a853;
  width: 90%;
  height: 94%;
  position: absolute;
  left: 0.22rem;
  top: 0.4rem;
  bottom: 0rem;
  border-radius: 100%;
}

/* earth Illustration */
.earthIllu {
  animation: spin 20s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* locomotive scrool */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}
[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}
[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

/* navbar */
.nav-container {
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
}

/* Sticky Navbar */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: white; /* Change the background color as needed */
  opacity: 85%;
  transition: all 0.5s ease-in-out;
}

/* get measure button and contain visibility control */

.notClicked {
  background-color: #34a853;
  position: absolute;
  z-index: 4;
  color: white;
  height: 2.5rem;
  width: 10%;
  border-radius: 0.375rem;
}
.notClicked:hover {
  background-color: white;
  color: #34a853;
  border: 2px #34a853 solid;
  animation-duration: 500ms;
  animation-timing-function: linear;
}

.clicked {
  display: none;
}
.clickedP {
  filter: blur(0px);
}
